[submodule "modsen-book-service"]
	path = modsen-book-service
	url = git@github.com:arvisit/modsen-book-service.git
[submodule "modsen-exception-handling-starter"]
	path = modsen-exception-handling-starter
	url = git@github.com:arvisit/modsen-exception-handling-starter.git
[submodule "modsen-configs"]
	path = modsen-configs
	url = git@github.com:arvisit/modsen-configs.git
[submodule "modsen-config-server"]
	path = modsen-config-server
	url = git@github.com:arvisit/modsen-config-server.git
[submodule "modsen-discovery-server"]
	path = modsen-discovery-server
	url = git@github.com:arvisit/modsen-discovery-server.git
[submodule "modsen-security-service"]
	path = modsen-security-service
	url = git@github.com:arvisit/modsen-security-service.git
